body{
    font-family: 'Poppins-', sans-serif;
font-weight: 400,;

color: #fff;;

background-color: hsl(257, 40%, 49%);
margin:0;
background-image: url(images/bg-desktop.svg)
}
h1{ 
    margin: 30px 60px;
    font-weight: 750;
    
}

h2{
   font-weight:  550;
}
p{
    line-height: 2;
    color: #BAB5C8;
}

.main-image{
width: 95%;
height: 95%;
margin-left: 50px;
}

.sst{
width: 500px;
height: 110px;
text-align:left;
padding: 30px 50px;


}
.attribution a{ font-size: 11px; text-align: center; 
     color: hsl(228, 45%, 44%);}


     .btn{

        font-family: Roboto, sans-serif;
        font-weight: 0;
        font-size: 14px;
        color: #bab5c8;
        background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
        padding: 10px 50px;
        border: solid #83878000 2px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        border-radius: 50px;
        transition : 1000ms;
        transform: translateY(0);
        }
        .btn:hover{

            transition : 1000ms;
            padding: 10px 50px;
            transform : translateY(-0px);
            background: linear-gradient(90deg, #f07ba2 0%, #c06090 100%);
            color: #ffffff;
            border: solid 2px #ffffff;
            }

            footer{
                text-align-last: right;
                margin-right: 50px;
            }
            .eicon{
            font-size: 40px;
                width: 50px;
                margin-bottom: 20px;
            }
            .eicon:hover{
          
                transition : 1000ms;
             
                transform : translateY(0px);
                background: linear-gradient(360deg, #f07ba2 0%, #c06090 100%);
                color: #ffffff;
                border: solid 0px #ffffff;
                border-radius: 40px;
            }